# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPYNB data checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# Data and large file safety blocks (good for ML aspirants)
*.csv
*.json
*.xlsx
.env
